[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
pillow = "*"
comtypes = "*"
cairosvg = "*"
cython = "*"
tzdata = "*"
timezonefinder = {extras = ["numba"], version = "*"}
py-cord = {editable = true, path = "./pycord"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
