[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
cairosvg = "*"
cython = "*"
tzdata = "*"
timezonefinder = {extras = ["numba"], version = "*"}
beautifulsoup4 = "*"
lxml = "*"
bee-engine = {git = "https://github.com/tobeofuse/bee-engine"}
aiohttp = "*"
disnake = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
